@model PageViewModel<AzureLoginPage>

@{
    ViewData["Title"] = "Azure Login Page";
}

<h2>@Model.CurrentPage.PageTypeName</h2>

<form asp-action="Login" method="post">
    <button type="submit" name="provider" value="AzureAd">Login with Azure AD1</button>
    <button type="submit" name="provider" value="AzureAd2">Login with Azure AD2</button>
    <button type="submit" name="provider" value="Saml2Instance1">Login with Azure AD SAML</button>
</form>