@model PageViewModel<AzureLoginPage>

@{
    ViewData["Title"] = "Azure Login Failed";
}

<body>
    <div class="container d-flex justify-content-center">
        <div class="login-container">
            <h2 class="text-center">Login</h2>
            <div class="alert alert-danger login-failed" role="alert">
                Login Successfully.
            </div>
        </div>
    </div>
</body>